#yellowCircle {
  background-image: url("https://www.kirupa.com/images/yellow_circle.svg");
  background-size: 90%;
  width: 100vw;
  height: 100vw;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center center;
  top: 0;
  opacity: .75;
}

#greenPent {
  background-image: url("https://www.kirupa.com/images/green_pentagon.svg");
  background-size: 90%;
  width: 30vw;
  height: 30vw;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -30;
  background-position: 20% left;
  top: 100;
  opacity: .75;
}

#blueSquare {
  background-image: url("https://www.kirupa.com/images/blue_square.svg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  z-index: 3;
  background-position: 97% top;
  opacity: .75;
}

.parallaxImg {
  background-repeat: no-repeat;
  width: 100%;
  opacity: .75;
}

.parallaxImg2 {
  background-repeat: no-repeat;
  width: 100%;
  opacity: .5;
}


.react-parallax {
  background-size: cover;
  height: 600px;
  text-align: center;

}

.react-parallax-content {
  display: inline-block;
  margin-top: 100px;
  color: black;
}


#profilePic {
 max-height: 40px;
 border-radius: 20px;
}

#clear {
  clear: both;
}

.badgeImg {
  max-width: 85px;
}

.ui.card.hist:hover {
  box-shadow: inset  0px 0px 1px 1px gray !important;
}

.google-map {
  height: 500px;
  width: 100%;
}

.map-view {
  height: 100%;
  width: 100%;
}

.map-view button.entry {
  float: right;
  border-radius: 0px;
}

.ui.card {
  margin-top: auto;
  min-width: 325px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  font-family: avenir;
  padding: 1px;
}

.imgContainer {
  width: 95px;
  display: inline-block;
  height: 115px;
}

.imgContainer p {
  display: none;
  color: #000000;
}

.imgContainer:hover p {
  display: block;
  color: gray;
  position: absolute;
  width: 90px;
  font-family: avenir;
  font-size: 12px;
  text-align: center;
}

.challenge {
  width: 310px;
  margin-top: 7px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  border: solid #cce2e2;
  border-width: 3px;
  margin-left: -7px;
}

.goal {
  width: 310px;
  margin-top: 7px;
  background-color: salmon;
  color: white;
  border-radius: 5px;
  border: solid #fccfc2;
  border-width: 3px;
  margin-left: -7px;
}

.pendingChallenge {
  width: 310px;
  margin-top: 10px;
  background-color: #a3a3a3;
  color: white;
  border-radius: 5px;
  border: solid #e0e0e0;
  border-width: 3px;
  margin-left: -7px;
}

.goalText {
  width: 250px;
  padding: 10px;
  margin-left: 10px;
}

.challengeText {
  width: 250px;
  padding: 10px;
  margin-left: 10px;
}

.rejectChallenge:hover {
  color: red;
}

.rejectChallenge {
  font-size: 24px;
  text-align: right;
  margin-right: 10px;
  margin-top: 6px;
}

.acceptChallenge {
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
  margin-top: 6px;
}

.generatedGoal {
  width: 310px;
  margin-top: 7px;
  background-color: #FFD769;
  color: white;
  border-radius: 5px;
  border: solid #fff3d3;
  border-width: 3px;
  margin-left: -7px;
}

.acceptChallenge:hover {
  color: green;
}

.modalInput {
  margin-bottom: 20px;
  width: 260px;
  height: 32px;
  font-size: 16px;
}

.completeGoal {
  position: relative;
  font-size: 22px;
  padding: 10px;
  text-align: right;
}

.completeGoal:hover {
  color: #fff2d1;
}

a {
  color: teal;
}

a:hover {
  color: #a3a3a3;
}

.completedGoals {
  margin-top: 10px;
  margin-left: 5px;
}

.accContent {
  margin-left: 24px;
}

#packmates:hover {
  color: #a3a3a3;
}

.ui.input {
  width: 300px;
  margin-top: 15px;
}

.ui.button {
  background-color: salmon;
  color: white;
  font-family: avenir;
  font-size: 15px;
}

.ui.button:hover {
  background-color: salmon;
  color: #fff2d1;
}