.badgeImg {
  max-width: 50px;
}

.imgContainer {
  width: 65px;
  display: inline-block;
}

.imgContainer p {
  display: none;
  color: #000000;
}

.imgContainer:hover p {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline;
  position: absolute;
  margin-left: -58px;
  margin-top: 6px;
  width: 65px;
  font-family: avenir;
  font-size: 13px;
  border-radius: 10px;
  text-align: center;
}

.challenge {
  width: 350px;
  margin-top: 10px;
  background-color: teal;
  font-family: avenir;
  color: white;
  border-radius: 5px;
  text-align: center;
  border: solid #cce2e2;
  border-width: 3px;
}

.goal {
  width: 350px;
  margin-top: 10px;
  background-color: salmon;
  font-family: avenir;
  color: white;
  border-radius: 5px;
  text-align: center;
  border: solid #fccfc2;
  border-width: 3px;
}

.pendingChallenge {
  width: 350px;
  margin-top: 10px;
  background-color: #a3a3a3;
  font-family: avenir;
  color: white;
  border-radius: 5px;
  text-align: center;
  border: solid #e0e0e0;
  border-width: 3px;
}

.goalText {
  width: 290px;
  padding: 10px;
}

.challengeText {
  width: 300px;
  padding: 10px;
}

.rejectChallenge:hover {
  color: red;
}

.rejectChallenge {
  font-size: 24px;
  text-align: right;
  margin-right: 10px;
  margin-top: 6px;

}

.acceptChallenge {
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
  margin-top: 8px;
}

.acceptChallenge:hover {
  color: green;
}

.completeGoal {
  position: relative;
  font-size: 28px;
  padding: 20px;
  text-align: right;
}

.completeGoal:hover {
  color: #fff2d1;
}

.completedGoals {
  margin-top: 10px;
  margin-left: 5px;
}

.accContent {
  margin-left: 24px;
}

.input {
  width: 350px;
  margin-top: 15px;
}


.ui .button {
  background-color: salmon;
  color: white;
  font-family: avenir;
  font-size: 15px;
}

.ui .button:hover {
  background-color: salmon;
  color: #fff2d1;
}